<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title></title>
</head>
<body>
  <nav>
    <a href="/entries/new" >NEW ENTRY</a>
    <a href="/entries/index">VIEW ENTRIES </a>
    <% if (user) { %>
      <a href="/logout">LOGOUT</a>
    <% } else { %>
      <a href="/auth/google">LOGIN</a>
    <% } %>
  </nav>
  <main>
