<%- include('../partials/header') %>

    <h1>USER PROFILE</h1>
    <tbody>
        <% if (user) { %>
        <% entries.forEach(function(e) { %>
            <div class="card">
            <tr> <h4>Today I felt:</h4>
               <% e.moods.forEach(function(m) { %>
                <td><%= m.mood %></td>
               <% }) %>
            </tr>
            <tr><br><br>
            <%= e.note %> 
            <button id="editBtn">Edit</button>
            </tr>
            </div>
       <% })}; %>
    </tbody>

<%- include('../partials/footer') %>
