<%- include('../partials/header') %>

  <h2>How are you feeling today?</h2>
  
    <form id="new-entry" action="/entries/index " method="POST">
      <div class="checkboxes">
        <div class="checkbox">
          <label class="checkbox-label">
            <input type="checkbox" id="emotion1" name="moods" value="HAPPY">
            <span class="checkbox-custom rectangular"></span>
          </label>
          <div class="input-title">HAPPY</div>
        </div>
        <div class="checkbox"> 
          <label class="checkbox-label">
            <input type="checkbox" id="emotion1" name="moods" value="ANXIOUS">
            <span class="checkbox-custom rectangular"></span>
          </label>
          <div class="input-title">ANXIOUS</div>
        </div>
        <div class="checkbox"> 
          <label class="checkbox-label">
            <input type="checkbox" id="emotion1" name="moods" value="Motivated">
            <span class="checkbox-custom rectangular"></span>
          </label>
          <div class="input-title">MOTIVATED</div>
        </div>
        <div class="checkbox"> 
            <label class="checkbox-label">
              <input type="checkbox" id="emotion1" name="moods" value="Stressed">
              <span class="checkbox-custom rectangular"></span>
            </label>
            <div class="input-title">STRESSED</div>
        </div>
        <div class="checkbox"> 
          <label class="checkbox-label">
              <input type="checkbox" id="emotion1" name="moods" value="Overwhelmed">
              <span class="checkbox-custom rectangular"></span>
            </label>
            <div class="input-title">OVERWHELMED</div>
        </div>
        <div class="checkbox"> 
          <label class="checkbox-label">
            <input type="checkbox" id="emotion1" name="moods" value="Sad">
            <span class="checkbox-custom rectangular"></span>
          </label>
          <div class="input-title">SAD</div>
        </div>
      </div>
      
      <h3>Journal about the day</h3>
      <input type="text" name="note">
      <input type="submit" value="Add Entry">
      <a href="../moods/new">Add Another Emotion</a>
    </form>

  <%- include('../partials/footer') %>
