body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: peru;
  color: white;
  margin: 0;
}
.jumbotron {
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  background-color: peru;
  text-decoration: none;
  color: white;
  padding: 8px;
}

nav {
  background-color: white;
  height: 50px;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
}

h1 {
  justify-content: center;
  display: flex;
  background-color: white;
  color: peru;
  margin-left: 35vh;
  margin-right: 35vh;
  margin-top: 20vh;
  padding: 30px;
}

.homepage-btn {
  justify-content: center;
  display: flex;
  background-color: white;
  margin-left: 47%;
  margin-right: 47%;
  color: peru;
  margin-top: 5%;
  font-size: 2vh;
}

.card {
  width: 500px;
  margin: 50px auto;
  display: block;
  padding: 15px 20px;
  background-color:white;
  color: peru;
  border-radius: 4px;
}
#editBtn {
  background-color: white;
  border: peru solid 1px;
  color: peru;
  margin: 20px;
}
.input-title {
  clear: both;
  padding: 5px 0px 20px 0px;
  font-size: 16px;
  font-weight: 300;
}
.card::after {
  clear: both;
  display: block;
  content: "";
}
.card .checkbox {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  padding: 40px 0px;
}
.checkbox-label {
  display: block;
  position: relative;
  /* margin: auto; */
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    border: 2px solid white;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid peru;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid peru;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
.checkboxes {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
h2 {
  justify-content: center;
  display: flex;
}